<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <title>MiniMart</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <!-- Box Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- nav -->
      <div class="nav container">
        <a href="#" class="logo">Admin System</a>
        <!-- Cart-Icon -->
        <ul>
          <li class="nav-item active">
            <a href="#" class="menu">จัดการสมาชิก<a>
            <a href="#" class="menu">จัดการสินค้า<a></a>
            <a href="#" class="menu">จัดการออเดอร์สินค้า<a></a>
          <a href="/logout" class="menu">Logout</a>
          </li>

        </ul>

      </div>
      <div class="cart">
        <h2 class="cart-title">Your Cart</h2>
        <div class="cart-content">
      </div>
      
      <!-- Total -->
      <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">$0</div>
      </div>
      <!-- Buy Button -->
      <button type%="button" class="btn-buy">Buy Now</button>
      <!-- Cart CLose -->
      <i class='bx bx-x' id="close-cart"></i>                       
      </div> 
    </header>
  </body>
</html>
