<form action="./auth/update" method="POST" id="update_user">
  <div class="new_user">
    <div class="form-group">
      Fullname
      <input type="text" name="fullname" value="<%= user.fullname %>" required />
    </div>
    <input type="hidden" name="id" value="<%= user._id %>">
    <div class="form-group">
      Telephone
      <input
        type="text"
        name="telephone"
        value="<%= user.telephone %>"
        maxlength="10"
        minlength="10"
        pattern="^\d{10}$"
        required
      />
    </div>
    <div class="form-group">
      Email
      <input
        type="text"
        name="email"
        value="<%= user.email %>"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        required
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn text-dark update">Save</button>
    </div>
  </div>
</form>
<script src="/js/index.js"></script>