<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MiniMart</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Box Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <style>
      ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
</style>
  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- nav -->
      <div class="nav container">
        <a href="/admin" class="logo"><i class="fa fa-cutlery" aria-hidden="true"></i> FoodManda</a>
        <!-- Cart-Icon -->
        <ul style="line-height:10%">
          <li class="nav-item active">
          <!-- <i class="bx bx-shopping-bag" id="cart-icon"></i> -->
          <a href="/admin" class="menu"><i class="fa fa-user" style="font-size:20px"></i> จัดการสมาชิก</a>
            <a href="/product" class="menu"> <i class="fa fa-shopping-cart" style="font-size:20px;color:black"></i> จัดการสินค้า</span>
            </a>
            <a href="/orderAdmin" class="menu"><i class="fa fa-archive" style="font-size:20px"></i> จัดการออเดอร์</a>
          <a href="/logout" class="menu"><i class="fa fa-sign-in" aria-hidden="true"></i>ออกจากระบบ</a>
          </li>
        </ul>
      </div> 
    </header>
  </body>
</html>
